<%- include('../partials/header.ejs') %>

<h1 class="workout-name"><%= workout.name %></h1>


<ul>
    <% if (workout.exercises && workout.exercises.length > 0) { %>
        <% workout.exercises.forEach(exercise => { %>
            <li>
                <strong><%= exercise.exerciseName %></strong> - 
                <%= exercise.reps %> reps @ <%= exercise.weight.value %> <%= exercise.weight.unit %>
            </li>
        <% }); %>
    <% } %>
</ul>

<p>Created on: <%= workout.createdAt ? workout.createdAt.toDateString() : 'Unknown' %></p>

<a href="/workouts" class="btn">Back to Workouts</a>
<a href="/workouts/<%= workout._id %>/edit" class="btn">Edit</a>
<form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit" class="btn">Delete Workout</button>
</form>